.cv-images {
  margin-top: 20px;
  text-align: center;
}

.cv-images img {
  border-radius: 10px;
  max-width: 99%;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-right: 17px;
}

@media (min-width: 768px) {
  .cv-images img {
    margin-right: 2px;
  }
}

/* .cv-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
} */

.cv-link {
  color: black;
}
