

.repo {
    margin-left: 10px;
}

.card {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.col-lg-6 {
    margin-bottom: 10px;
  }
  
  .card {
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .bg-body-tertiary,
.card-body {
  background-color: rgb(160, 137, 182);
}
  
.card-body a.btn {
  background-color: rgb(136, 92, 177);
  border-color: black;
  color: white;
  align-items: flex-end;
}

