body {
  margin-top: 1.5rem;
  padding: 20px;
}

.bg-body-tertiary,
.customNav,
.work-header,
.card-body {
  background-color: rgb(160, 137, 182) !important;
}

.customNav {
  border-radius: 0.5rem;
}



.btn-primary {
  border-color: black !important;
}

.btn-primary.btn-lg {
  color: white;
  background: rgb(136, 92, 177) !important;
}

.btn-primary:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}


.dropdown-menu {
  background-color: transparent !important;
  background-size: cover;
  border: none;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background: black;
}

.work-header {
  text-align: left;
  padding: 10px !important;
  padding-left: 30px !important;
  padding-top: 20px !important;
  font-size: 10px !important;
  font-weight: bold;
  border-radius: 0.5rem;
}

.work-header h2 {
  font-size: 25px;
}

.card-body a.btn {
  background-color: rgb(136, 92, 177);
  border-color: black;
  color: white;
  align-items: flex-end;
}

.icon-container {
  text-align: center;
  height: 100%;
}

.icon {
  width: 15%;
  max-width: 100%;
  height: auto;
  margin: 10px;
}

.icon:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.cv-link {
  color: black;
}


@media (max-width: 768px) {
  img {
    float: none;
    width: 100%;
    margin: 0;
  }
}

.col-lg-9 {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;
  padding: 0 !important;
}

@media (max-width: 969px) {
  .jumbotron .container-fluid {
    text-align: center;
  }

  .jumbotron .py-5 img {
    margin: 0 auto !important;
    display: block;
  }

  .col-lg-9 {
    width: 100%;
    text-align: center;
    padding: 0 15px;
  }
}

.skills {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .card {
    column-count: 1 !important;
    column-gap: 1.25rem;
  }
}
